#app {
    font-family:  -apple-system, BlinkMacSystemFont, 'microsoft jhenghei', "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    background: $default-bg-color;
    height: 100%;
}

html, body{
    height:100%;
}